<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="readerFromFactory" class="com.zoolatech.loganalyzer.reader.CustomSysPropReaderFactory">
        <property name="fileName" value="log.txt"/>
    </bean>

    <bean id="simpleAnalyzer" class="com.zoolatech.loganalyzer.analyzer.SimpleAnalyzer">
        <constructor-arg value="error"/>
    </bean>

    <bean id="consolePrinter" class="com.zoolatech.loganalyzer.printer.ConsolePrinter"/>

    <bean id="logAnalyzer" class="com.zoolatech.loganalyzer.LogAnalyzer">
        <constructor-arg type="com.zoolatech.loganalyzer.reader.Reader" ref="readerFromFactory"/>
        <constructor-arg type="com.zoolatech.loganalyzer.analyzer.Analyzer" ref="simpleAnalyzer"/>
        <constructor-arg type="com.zoolatech.loganalyzer.printer.Printer" ref="consolePrinter"/>
    </bean>

</beans>